* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header-container {
  color: #2d243c;
  background-color: #f2bb3d;
  display: flex;
}

.header {
  font-family: "Times New Roman", Times, serif;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer {
  display: flex;
}


.footer-item {
  background-color: #2d243c;
  height: 100px;
  flex: 1;
}

.footer-one,
.footer-three {
  background-color: #f2bb3d;
  flex: initial;
  width: 300px;
}

/* Image Grid */
.portfolio {
  column-count: 4;
  column-gap: 1em;
}

.image img {
  width: 100%;
  background-color: #eee;
  display: inline-block;
  margin: 0 0 1em;
}

/* Mobile Styles */
@media only screen and (max-width: 400px) {
  body {
    background-color: #F09A9D;
    /* Red */
  }

  .about-photo {
    position: relative;
    margin-left: 20%;
  }

  .about-page {
    flex-wrap: wrap;
  }
}

/* Tablet Styles */
@media only screen and (min-width: 401px) and (max-width: 960px) {
  body {
    background-color: #F5CF8E;
    /* Yellow */
  }
}

/* Desktop Styles */
@media only screen and (min-width: 961px) {
  body {
    background-color: #2d243c;
    /* Blue */
  }
}

@media only screen and (min-width: 401px) and (max-width: 960px) {

  .sign-up,
  .photo-grid-item {
    width: 50%;
  }

  .about-photo {
    position: relative;
    margin-left: 35%;
  }

  .about-page {
    flex-wrap: wrap;
  }
}

/* Menu */
.bg-dark {
  background-color: #f2bb3d !important;
}

.navbar-brand {
  position: fixed;
  top: 0;
  left: 0;
}

.navbar-nav {
  margin-left: 50px;
}

.navbar-dark .navbar-nav .nav-link:focus, .navbar-dark .navbar-nav .nav-link:hover {
  color: ##fa9c19;
  border: 2px solid #fff;
}

.navbar-dark .navbar-nav .nav-link {
  color: #fa9c19;
}

.web-text {
  margin-left: 1px;
  font-family: "Times New Roman", Times, serif;
  color: #f2bb3d;
}

.footer-Words {
  text-align: center;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.about-page {
  display: flex;
}

.about-photo {
  justify-content: left;
}

.review-entries {
  display: flex;
}

header.masthead {
  padding-top: 10rem;
  padding-bottom: calc(11rem);
  background: linear-gradient(to bottom, rgba(92, 77, 66, 0.8) 0%, rgba(92, 77, 66, 0.8) 100%), url('/images/banner.jpeg');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

/* Full-width input fields */
input[type=text], input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus, input[type=password]:focus {
  background-color: #ddd;
  outline: none;
}

/* Set a style for all buttons */
button {
  background-color: #f2bb3d;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

button:hover {
  opacity:1;
}

/* Extra styles for the cancel button */
.cancelbtn {
  padding: 14px 20px;
  background-color: #2d243c;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn, .signupbtn {
  float: left;
  width: 50%;
}

/* Add padding to container elements */
.container {
  padding: 16px;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
     width: 100%;
  }
}
.center {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.design{
  display: flex;
  justify-content: center;
}
.listings{
  display: flex;
  flex:start;
  flex-direction: column;
}
.listing-one, .listing-two, .listing-three{
  margin: 10px;
  border: 2px solid #f2bb3d;

}
.listing-pic, .listing-price, .listing-desc{
  float: left;
  display: inline;
  padding-left: 10px;
}
